@import '~bootstrap/scss/bootstrap';

body {
  background: rgb(105, 105, 105);
}
.me-img {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 15px;
}

.home-mein {
  div {
    margin: 20px 0px;
  }
  padding: 0px 20px;
  text-align: center;
  &__home-content {
  }
  &__home-title {
  }
  &__home-text {
  }
}
